body {
    background-image: url("assets/calculadora.jpg");
}
h1{
    text-align: center;
}
section{
    background-color: rgb(237, 229, 120);
    width: 300px;
    height: 350px;
    padding: 5%;
    margin: auto;
    border-radius: 10px;
}
div{
    background-color: rgb(237, 229, 120);
    text-align: center;
    border-radius: 10px;
    height: 150px;
    width: 250px;
    margin: auto;
}
#txtRodape {
    text-align: center;
}
#txtResultado {
    text-align: left;
    padding-left: 10px;
}